# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
debug/
dep/
obj/
tests_unit/build/
tests_zemu/node_modules/
tests_zemu/snapshots-tmp/
tests_zemu/elfs/stellar_*.elf
tests_common_js/dist/
tests_common_js/node_modules/